<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Selenium CI</title>
    <% settings.styles.each do |href| %>
      <link rel="stylesheet" href="<%= href %>" type="text/css" media="screen">
    <% end %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26481142-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <p class="hidden-phone"><small class="pull-right">Source code on <a href="http://github.com/jarib/selenium-ci-dashboard">GitHub</a>.</small></p>

        <div class="container-fluid">
          <h2>
            <img src="/img/logo.png" id="se-logo">
            Selenium CI
          </h2>
        </div>
      </div>

      <div class="container">
        <div class="alert-message error" id="error-message">
          <p><strong>Ugh, something went wrong!</strong></p>
        </div>
      </div>
    </div>

    <div id="main" class="container-fluid">
      <div class="row-fluid">
        <div id="sidebar" class="span3"></div>
        <div id="content" class="span9">
          <div style="font-size: 30px; text-align: center; padding-top: 10%">☚ select a build</div>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery-ui-1.8.17.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.tablesorter.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/sammy-latest.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/sammy.mustache.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
