<!DOCTYPE html>
<html>
  <head>
    <title>Selenium CI</title>
    <% settings.styles.each do |href| %>
      <link rel="stylesheet" href="<%= href %>" type="text/css" media="screen">
    <% end %>
  </head>
  <body>
    <!-- github ribbon -->
    <a href="http://github.com/jarib/selenium-ci-dashboard"><img style="z-index: 12000; position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <img src="/img/logo.png" id="se-logo" class="pull-left">
          <h3><a href="/">Selenium CI</a></h3>
        </div>
      </div>

      <div class="container">
        <div class="alert-message error" id="error-message">
          <p><strong>Ugh, something went wrong!</strong></p>
        </div>
      </div>
    </div>

    <div id="main" class="container-fluid">
      <div class="sidebar"></div>
      <div class="content">
        <div style="font-size: 30px; text-align: center; padding-top: 10%">☚ select a build</div>
      </div>
    </div>

    <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery-ui-1.8.17.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.tablesorter.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/sammy-latest.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/sammy.mustache.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
