<% @builds.each do |rev, subs| %>
  <div class="build">
    <h2 class="pull-right">
      <small><%= @users[rev] %></small>
      <a class="build" href="http://code.google.com/p/selenium/source/detail?r=<%= rev %>">r<%= rev %></a>
    </h2>


  </div>
<% end %>
