@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);


body {
  font-family: 'Ubuntu', sans-serif;
}


.building {
  color: #3A87AD;
  background-color: #D9EDF7;
  border-color: #BCE8F1
}

.success {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.unstable {
  color: #C09853;
  background-color: #FCF8E3;
  border-color: #FBEED5;
}

.failure {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
}

.aborted {
  color: #eee;
  background-color: black;
  border-color: gray;
}

a.text-building {
  color: #3A87AD;
}

a.text-success {
  color: #468847;
}

a.text-unstable {
  color: #F89406;
}

a.text-failure {
  color: #9d261d;
}

a.text-aborted {
  color: gray;
}

.spinner {
  float: right;
  height: 15px;
}
.author {
  color: #777;
  font-size: 20px;
}

#error-message {
  display: none;
}

#se-logo {
  height: 30px;
  padding-top: 5px;
}

.commit-message {
  font-size: 1.5em;

}

#sidebar tr.active { background-color: #eee}
#sidebar tr:hover { background-color: #eee}
