<div class="container-fluid">
  <div class="commit-message well"><a href="http://code.google.com/p/selenium/source/detail?r={{revision}}">{{short_revision}}</a> {{message}}</div>

  <div class="row-fluid">
      <ul class="nav nav-tabs">
        <li id="matrix-tab"><a href="#/revision/{{revision}}/matrix">matrix</a></li>
        <li id="list-tab"><a href="#/revision/{{revision}}/list">list</a></li>
      </ul>
  </div>

  {{#broken}}
  <div class="alert alert-error">
    <p>Looks like <strong>{{broken}}</strong> is broken.</p>
  </div>
  {{/broken}}


  <table id="matrix" class="table table-bordered table-condensed" style="display:none;">
    <thead>
      <tr>
        <th></th>
        {{#column_headers}}
          <th>{{name}}</th>
        {{/column_headers}}
      </tr>
    </thead>
    <tbody>
      {{#rows}}
        <tr>
          <th>{{name}}</th>
          {{#cells}}
            <td>
              {{#build}}
                {{#building}}
                  <img src="img/ajax-loader.gif" alt="building" class="spinner">
                {{/building}}
                <div><a class="text-{{state}}" href="{{url}}">{{type}}</a></div>
              {{/build}}

            </td>
          {{/cells}}
        </tr>
      {{/rows}}
    </tbody>
  </table>

  <table id="list" class="table" style="display:none;">
    <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {{#builds}}
      <tr>
        <td>
          <a href="{{url}}">{{name}}</a>
        </td>

        {{#building}}
          <td class="state building">
            building
            <img src="img/ajax-loader.gif" alt="building" class="spinner">
          </td>
        {{/building}}

        {{^building}}
          <td class="state {{state}}">{{state}}</td>
        {{/building}}
      </tr>
      {{/builds}}
    </tbody>
  </table>

</div>