<table class="zebra-striped">
  <thead>
    <tr>
      <th>author</th>
      <th>rev</th>
      <th></th>
      <th>jobs</th>
    </tr>
  </thead>
  <tbody>
    {{#revisions}}
    <tr data-revision="{{revision}}">
      <td><strong>{{user}}</strong></td>
      <td><a href="/#/revision/{{revision}}">r{{revision}}</a></td>
      <td>
        {{#building}}
          <img src="img/ajax-loader.gif" alt="building" class="spinner">
        {{/building}}
      </td>
      <td>{{count}}</td>
    </tr>
    {{/revisions}}
  </tbody>
</table>