<table class="table table-condensed">
  <thead class="hidden-phone">
    <tr>
      <th style="min-width: 32px"></th>
      <th>Author</th>
      <th>Revision</th>
      <th>Jobs</th>
    </tr>
  </thead>
  <tbody>
    {{#revisions}}
    <tr data-revision="{{revision}}" class="{{class}}">
      <td>
        {{#building}}
          <img src="img/ajax-loader.gif" alt="building" class="spinner">
        {{/building}}
      </td>
      <td>{{user}}</td>
      <td><a href="/#/revision/{{revision}}">{{short_revision}}</a></td>
      <td>
        {{#counts}}
        <span class="badge badge-{{class}}">{{value}}</span>
        {{/counts}}
      </td>
    </tr>
    {{/revisions}}


  </tbody>
</table>